@font-face {
  font-family: Moon;
  src: url(fonts/Moon2.0-Regular.otf);
}


* {
    margin: 0;
    padding: 0;
}

html {
  font-family: moon;
}



.header .logoh span {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 30px;
    font-family: Moon;
  }

  .header {
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
    z-index: 3;
  }
  
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
  }
  
  .header li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
    text-align: center;
    font-family: Moon ;
  }
  
  .header li a:hover,
  .header .menu-btn:hover {
    background-color: #f4f4f4;
  }
  
  .header .logo {
      color: #333;
    display: flex;
    float: left;
    font-size: 2em;
    text-decoration: none;
    padding: 2px 5px;
  }
  
  
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  
  
  .header .menu-icon {
    cursor: pointer;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  
  
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;

  }

  .heading {
      background-color: rgb(240, 240, 240);
      height: 52em;
      display: grid;
      align-items: center;
      text-align: center;

  }

  .first{
    font-size: 72px;
    margin-bottom: 10px;
  }

  .second {
    font-size: 34px;
    font-weight: 400;
  }

  .third {
    font-size: 30px;
    font-weight: 400;
  }

  .ftproject1 {
      color: rgb(206, 206, 206);
    display: grid;
      height: 17em;
      background-color: #333;
  }

  .ftproject1 p {
      padding: 10px;
      position: relative;
      animation-name: ftp1;
      animation-duration: 2s;
  }
  
  @keyframes ftp1{
      0% {bottom: 100px;}
 
      100% {bottom: 0px;}
  }

  .ftproject1 .parg1{
      text-align: center;
  }


  .skills1 {
      height: 20em;
      display: grid;
  }

  .skills1 .skill1 {
      width: 60%;
      height: 100px;
      background-color: #333;
      border-radius: 25px;
      justify-self: center;
      align-self: center;
  }
  .skills1 .skill2 {
    width: 60%;
    height: 100px;
    background-color: #333;
    border-radius: 25px;
    justify-self: center;
    align-self: center;
}


  .ftproject2 {
    color: rgb(206, 206, 206);
    display: grid;
      height: 17em;
      background-color: #333;
  }

  .ftproject2 p {
    padding: 10px;
}

  .ftproject2 .ftp {
      text-align: right;
  }

  .ftproject2 .parg2{
      text-align: center;
  }

  .aboutme {
      display: grid;
      text-align: center;
      margin-top: 30px;
  }

  .aboutme .meimg {
      height: 150px;
      width: 150px;
      background-color: #333;
      justify-self: center;
      
  }

  .aboutme .abmep {
      margin-top: 2em;
  }

  @media (min-width: 48em) {
    .header li {
      float: left;
    }
    .header li a {
      padding: 20px 30px;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }
    .header .logoh span {
        margin-top: 8px;
        margin-left: 10px;
        font-size: 34px;
        font-family: Otra Mas Stf ;
      }

  }