@font-face {
  font-family: Moon;
  src: url(fonts/Moon2.0-Regular.otf);
  
}

@font-face {
  font-family: Avenir;
  src: url(fonts/Avenir-Heavy.ttf);
}

@font-face {
  font-family: Avenir-Book;
  src: url(fonts/Avenir-Book.ttf);
}

@font-face {
  font-family: Otra;
  src: url(fonts/Otra\ Mas\ Stf.ttf);
}

* {
    margin: 0;
    padding: 0;
}
h1{
  font-family: Avenir;
}

p {
  font-family: Avenir-Book;
  font-weight: 500;
  font-size: 18px;
}

html {
  background-color: #f0f0f0;
}

/*
html {
  font-family: moon;
  background-image: url('images/Pattern_-_85590_SparkVideo.gif');
  background-position: center;
  background-repeat: repeat;
  background-size: 0%;
  background-attachment: fixed;
}

*/

.header .logoh span {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 30px;
    font-family: Moon;
  }

  .header {
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
    z-index: 3;
  }
  
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
  }
  
  .header li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
    text-align: center;
    font-family: Moon ;
  }
  
  .header li a:hover,
  .header .menu-btn:hover {
    background-color: #f4f4f4;
  }
  
  .header .logo {
      color: #333;
    display: flex;
    float: left;
    font-size: 2em;
    text-decoration: none;
    padding: 2px 5px;
  }
  
  
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  
  
  .header .menu-icon {
    cursor: pointer;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  
  
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;

  }


  .milenov {
    display: none;
  }

  .heading {
      background-color: #f0f0f0;
      height: 48em;
      display: grid;
      align-items: center;
      text-align: center;

  }

  .first{
    font-family: Otra;
    font-size: 72px;
    margin-bottom: 10px;
  }

  .second {
    font-family: Avenir-Book;
    font-size: 34px;
    font-weight: 400;
  }

  .third {
    font-family: Avenir-Book;
    font-size: 30px;
    font-weight: 400;
  }
    


  .ftproject1 {
      color: rgb(228, 228, 228);
    display: grid;
      height: 30em;
      background-color: #36006c;
  }
  
  .ftproject1 h1 {
    margin-bottom: 10px;
    font-weight: 400;
  }

  .ftproject1 p {
      padding: 10px;
      position: relative;
  }

  .neznam {
    height: 10px;
    font-size: 13px;
    font-weight: 600;
  }


  .ftproject1 .parg1{
      text-align: center;
      margin-bottom: 50px;
      width: 290px;
      justify-self: center;
  }

   .i131 {
     position: absolute;
     right: 155px;
     top: 1115px;
     width: 210px
   }

   .i132 {
     position: absolute;
     left: 130px;
     top: 1095px;
     width: 225px;
   }

   .i133 {
    display: none;
  }
.skills1 {
      height: 19em;
      display: grid;
  }
  .skills1 .skill1 {
      width: 60%;
      height: 100px;
      background-color: #333;
      border-radius: 25px;
      justify-self: center;
      align-self: center;
  }
  .skills1 .skill2 {
    width: 60%;
    height: 100px;
    background-color: #333;
    border-radius: 25px;
    justify-self: center;
    align-self: center;
}
  .ftp {
    font-size: 13px;
    font-weight: 600;
  }

  .ftproject2 {
    color: rgb(85, 85, 85);
    display: grid;
      height: 34em;
  }

  .ftproject2 p {
    padding: 10px;
}

  .ftproject2 .ftp {
      text-align: right;
  }

  .ftproject2 .parg2{
      text-align: center;
      width: 290px;
      justify-self: center;
      align-self: center;
  }
  
  .rent{
    border-radius: 30px;
    justify-self: center;
    width: 350px;
  }

  .abtme{
    height: 60px;
    font-size: 29px;
    color: #333;
  }

  .aboutme {
    justify-items: center;
      display: grid;
      text-align: center;
      margin-top: 30px;
      margin-top: 100px;
  }

  .aboutme .meimg {
      width: 280px;
      background-color: #333;
      justify-self: center;
      border-radius: 30px;
      
  }

  .box{
    position: absolute;
    width: 280px;
    height: 280px;
    background-color: #9c72157a;
    left: 58px;
    top: 142.7em;
    border-radius: 30px;
  }

  .aboutme .abmep {
      margin-top: 2em;
      width: 300px;
      justify-self: center;
  }

  .aboutme .abmep p{
    color: #4b4b4b;
    font-size: 18px;
    justify-self: center;
  }

  .compskills{
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 200px));
    gap: 0px 10px;
    padding: 30px;
    margin: 20px 0px 0px;
    overflow: hidden;
    list-style: none;
    font-size: 16px;
}

.fa-caret-up:before{
  padding: 5px;
}


li{
  font-family: Moon;
  padding: 4px;
}


.getintouch {
  display: flex;
  flex-direction: column;
}

.sendh1{
  text-align: center;
  padding: 50px 10px 30px 10px;
  font-size: 36px;
  font-family: Avenir;
}

.button{
  font-family: Avenir;
  align-self: center;
  margin-bottom: 50px;
  border-radius: 10px;
  text-align: center;
    border: 1px solid ;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    padding: 17px 25px 17px 25px;
    font-size: 18px;
    font-weight: 600;
    color: black;
}

.links {
  display: flex;
    -webkit-box-pack: justify;
    justify-content: space-evenly;
    -webkit-box-align: center;
    align-items: center;
    padding: 10px;
    margin: 0px;
    list-style: none;
}


  @media (min-width: 48em) {
    .header li {
      float: left;
    }
    .header li a {
      padding: 20px 30px;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }
    .header .logoh span {
        margin-top: 8px;
        margin-left: 10px;
        font-size: 34px;
        font-family: Otra Mas Stf ;
      }

  }

  @media only screen and (min-width: 992px) {
    .first{
      font-size: 102px;
      margin-bottom: 10px;
      color: #313131;
    }
  
    .second {
      font-size: 52px;
      font-weight: 400;
      color: #3d3d3d;
    }
  
    .third {
      font-size: 64px;
      font-weight: 400;
      color: #555555;
    }


    .ftproject1 {
      color: rgb(209, 209, 209);
    display: grid;
      height: 36em;
      background-color: #36006c;
  }
  


  .ftproject1 h1 {
    margin-bottom: 10px;
    font-weight: 600;
    letter-spacing: 4px;
    font-size: 45px;
    width: 600px;
    font-family: Avenir;
  }

  .ftproject1 p {
      width: 400px;
      font-size: 22px;
  }

  .neznam {
    font-size: 24px;
    margin: 10px;
  }


  .ftproject1 .parg1{
      text-align: left;
      width: 330px;
      justify-self: left;
      margin-top: 100px;
      padding-left: 100px;
  }

  .i131 {
    position: absolute;
    left: 1000px;
    top: 685px;
    width: 270px;
  }

  .i132 {
    position: absolute;
    left: 1160px;
    top: 915px;
    width: 300px;
  }

  .i133 {
    position: absolute;
    left: 800px;
    top: 795px;
    width: 320px;
    display: unset;
  }

  .ftproject2 {
    color: rgb(85, 85, 85);
    display: grid;
      height: 36em;
  }

  .ftproject2 h1{
    font-weight: 600;
    letter-spacing: 4px;
    font-size: 45px;
    width: 600px;
    font-family: Avenir;
    float: right;
  }

  .ftproject2 p {
    width: 400px;
    font-size: 22px;
    float: right;
}

  .ftproject2 .ftp {
      text-align: right;
      font-size: 24px;
      font-weight: 600;
      margin: 10px;
      justify-self: right;
  }

  .ftproject2 .parg2{
    text-align: right;
      width: 290px;
      align-self: center;
      justify-self: right;
      padding-right: 100px;
      margin-top: 100px;
  }
  
  .rent{
    position: absolute;
    top: 1550px;
    right: 600px;
    border-radius: 30px;
    justify-self: center;
    width: 900px;
  }
  
  .skills1 {
    height: 5em;
    display: grid;
}
.skills1 .skill1 {
    width: 60%;
    height: 100px;
    background-color: #333;
    border-radius: 25px;
    justify-self: center;
    align-self: center;
}
.skills1 .skill2 {
  width: 60%;
  height: 100px;
  background-color: #333;
  border-radius: 25px;
  justify-self: center;
  align-self: center;
}

.abtme{
  margin-top: 5em;
  
  height: 60px;
  font-size: 49px;
  color: #333;
}

.aboutme {
    display: grid;
    text-align: center;
    margin-top: 30px;
}

.aboutme .meimg {
    width: 350px;
    background-color: #333;
    justify-self: center;
    border-radius: 30px;
    margin-left: 50px;
    
}

.box{
  position: absolute;
  width: 350px;
  height: 350px;
  background-color: #9c72157a;
  left: 775px;
  top: 151em;
  border-radius: 30px;
}

.textimage{
  padding: 50px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}


.aboutme .abmep p{
  font-size: 22px;
  margin-left: -5em;
  width: 350px;
}

.compskills{
  display: grid;
  grid-template-columns: repeat(3, minmax(140px, 200px));
  gap: 0px 10px;
  padding: 30px;
  margin: 20px 0px 0px;
  overflow: hidden;
  list-style: none;
  font-size: 22px;
  justify-content: center;
}

.fa-caret-up:before{
padding: 5px;
}


li{
font-family: Moon;
padding: 4px;
}



.getintouch {
display: flex;
flex-direction: column;
}

.sendh1{
text-align: center;
padding: 50px 10px 30px 10px;
font-size: 66px;

}

.button{
align-self: center;
margin-bottom: 50px;
border-radius: 10px;
text-align: center;
  border: 1px solid ;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  padding: 17px 25px 17px 25px;
  font-size: 18px;
  font-weight: 600;
}

.links {
  justify-content: center;
  align-items: center;
}

.links li {
  margin: 10px;

}

.header .logoh span {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 30px;
  font-family: Moon;
}

.github {
  font-size: 50px;
}

.instagram {
  font-size: 38px;
}

.facebook {
  font-size: 35px;
}

.linkedin {
  font-size: 35px;
}

.milenov {
  display: unset;
}

  } 